:root{
    --bg-input:rgb(24, 59, 124);
    --bg-back:#171b29;
}
body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-back);
    color: antiquewhite;
    display: flex;
    position: relative;
}
.login-container{
    z-index: 20;
    background-color: var(--bg-input);
    position: relative;
    float: right;
    width: 50vw;height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(180%);
    transition: all .3s;
}
@keyframes hide-login {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(180%);
    }
}
@keyframes show-login {
    0%{
        transform: translateX(180%);
    }
    100%{
        transform: translateX(0%);
    }
}
@keyframes show-login590 {
    0%{
        width: 350%;
        transform: translateX(180%);
    }
    100%{
        width: 350%;
        transform: translateX(0%);
    }
}
@keyframes hide-login590 {
    0%{
        width: 350%;
        transform: translateX(0%);
    }
    100%{
        width: 350%;
        transform: translateX(180%);
    }
}










.login-container::before{
    content: "";
    width:100%;
    height: 200%;
    position: absolute;
    left: -80%;
    background-color: var(--bg-input);
    transform: rotateZ(-10deg) translateX(38%) translateY(-20%);
}
.login{
    font-family: cursive;
    z-index: 10;
    width: 120%;
    height: 50%;
    margin-left: -30%;
}
/*img*/
.avatar{
    border-radius: 100%;
    overflow: hidden;
    width: 30%;
    background-color: #000000;
    margin: 0;
    margin-top: -20%;
    margin-left: 30%;
}
.login img{
    width: 100%;
    display: flex;align-items: flex-start;
}
/*les input*/
.input-box{
    cursor: text;
    position: relative;
    width: 94%;
    margin-top: 3%;
    margin-left: 3%;
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid green;

}
.input-box input{
    z-index: 1;
    background: transparent;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3em;
    color: aqua;
}
.input-box label{
    transition: all .3s;
    z-index: 0;
    font-size: large;
    position: absolute;
    top: 0;
    transform: translateY(15px);
    color: #5c5c5c;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    color: aquamarine;
    transform: translateY(-5px);
    font-size: small;
}
/*les bouttons*/
.buttons{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}
.buttons button{
    width: 45%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: cursive;
    font-size: 1.2em;
}
.buttons button:nth-child(1){
    background-color: rgb(30, 192, 33);
}
.buttons button:nth-child(2){
    background-color: rgb(37, 226, 255);
}
/*se-souvenir*/
.se-souvenir{
    width: 94%;
    margin-top: 10px;
    margin-left: 3%;
    color: rgb(10, 16, 40);
}
.se-souvenir input{
    accent-color: #9b59b6;
}
@media screen and (max-width:750px) {
    .se-souvenir label{
        font-size: .9em;
    }
    .buttons button{
        padding: 8px;
        font-size: .9em;
    }
}
@media screen and (max-width:571px) {
    .se-souvenir label{
        font-size: .7em;
    }
    .buttons button{
        padding: 6px;
        font-size: .7em;
    }
}
/*hide*/
.hide{
    display: inline-block;
    width: 20px;
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
    font-size: 2em;
    position: absolute;
    color: #000;
    top: 0;left: -50%;
}
.hide:hover{
    background-color: #fefefe1f;
}
.hide img{
    width: 100%;
}

@keyframes animHide {
    0%{
        left: -50%;
    }
    100%{
        left: -30%;
    }
}








/*acceuil*/
.login-pres{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--bg-back);
    display: inline-block;
}
.context {
    font-family: cursive;
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.acceuil{
    transition: all .2s;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loginButt{
    cursor: pointer;
    padding:15px 25px;
    margin-top: 5%;
    background-color: rgb(30, 192, 33);
    border: none;
    outline: none;
    border-radius: 10px;
}
.context h1{
    padding: 0;
    margin: 0;
    margin-top: 10%;
    color: #fff;
    font-size: 40px;
}
.context .texte{
    margin-top: 10%;
    width: 90%;
}
@media screen and (max-width:870px) {
    .context h1{
        font-size: 30px;
    }
    .context .texte{
        font-size: 15px;
    }
}
@media screen and (max-width:870px) {
    .context h1{
        font-size: 25px;
    }
    .context .texte{
        font-size: 15px;
    }
}
@media screen and (max-width:590px) {
    .acceuil{
        width: 100%;
        margin-top: 10%;
    }
    .context h1{
        font-size: 30px;
    }
    .context .texte{
        font-size: 20px;
    }
    .loginButt{
        font-size: 20px;
    }
}








/*backgground*/
.area{ 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
.circles{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
