
:root{
    --col-body:#122b87;
    --col-header:#081a10;
    --col-txt:antiquewhite;
}
*{
    transition: all .3s;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: var(--col-body);
}
.sec{
    font-family: cursive;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}






nav{
   color: var(--col-txt);
   margin-top: 3.5%;
   height: 90vh;
   width: 20vw;
   position: relative;
   display: flex;
   flex-wrap: wrap;
}
section{
    color: var(--col-txt);
    overflow-y: scroll;
    width: 75vw;
    margin-top: 3.5%;
    height: 90vh;
    background-color: transparent;
    position: relative;
}
section::-webkit-scrollbar {
    display: none;
}
section div{
    margin-top: 10px;
    background-color: var(--col-header);
}








.repondre{
    width: 100%;
    height: auto;
}
/*p2*/
.p2{
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2 #form2{
    width: 95%;
    height: 80%;
    border: 1px solid;
    overflow: hidden;
}
.p2 #form2 .add{
    width: 100%;
    height: 10%;
    background-color: #000;
}
.p2 .add{
    display: flex;
    align-items: center;
    position: relative;
}
.p2 .add div{
    margin: 0px 10px;
    padding: 0px 5px;
    cursor: pointer;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}
.p2 #text_cont{
    width: 100%;
    resize: vertical;
}
.p2 .image_in{
    border: 1px dashed greenyellow;
    width: 84%;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}
.p2 #file_in{
    position: absolute;
    display: none;
}
.p2 #img_lab{
    text-align: center;
    cursor: pointer;
    height: 100%;
}
.p2 .contenu{
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p2 .contenu::-webkit-scrollbar {
    display: none;
}
.p2 .reset_msg{
    position: absolute;right: 2%;
}
.p2 .buttons2{
    width: 100%;
    height: 10%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p2 .buttons2 button{
    border: none;
    outline: none;
    background-color: transparent;
    color: whitesmoke;
    font-size: 1.1em;
    font-family: cursive;
    margin: 0px 10px;
    padding: 0px 5px;
    cursor: pointer;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}
.buttons2 button a:active,
.buttons2 button a{
    text-decoration: none;
    color: var(--col-txt);
}
@media screen and (max-width:680px) {
    .p2 h1{
        font-size: 1em;
    }
    .p2 .add{
        height: 30%;
    }
    .p2 .add div{
        width: 20%;
        font-size: .7em;
    }
    .p2 .contenu{
        height: 75%;
    }
    .p2 .buttons2{
        height: 15%;
        font-size: .7em;
    }
}











.reponses{
    width: 100%;
    height: auto;
}
.reponses .auteur{
    color: rgb(127, 58, 255);
    display: flex;
    align-items: center;
}
.reponses .aut{
    cursor: pointer;
    display: inline;
}
.reponses .foot-box{
    user-select: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 10%;
    height: 100%;
    padding: 5px 0px;
    border-right:1px solid var(--col-txt);
    border-left:1px solid var(--col-txt);
}
.rep_foot{
    position: relative;
    height: 20%;
}
.reponses .foot-box:nth-child(3){
    width: 20%;
}
.reponses .btn-voter{
    margin: 5px 10px;
    float: right;
    border: 1px solid var(--col-txt);
}
.reponse-box{
    margin-left: 2%;
    width: 96%;
    border: 1px solid lightblue;
}
















.question{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.question h1,
.reponses h1{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--col-txt);
}
.question .auteur{
    color: aqua;
    display: flex;
    align-items: center;
}
.question .aut{
    cursor: pointer;
    display: inline;
}
.question .foot-box{
    user-select: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 10%;
    height: 100%;
    padding: 5px 0px;
    border-right:1px solid var(--col-txt);
    border-left:1px solid var(--col-txt);

}
.msg_foot{
    position: relative;
    height: 20%;
    border-top: 1px solid var(--col-txt);
}
.question .foot-box:nth-child(3){
    width: 25%;
}
.question .btn-repondre,
.question .btn-voter{
    width: 20%;
    margin: 5px 10px;
    float: right;
    border: 1px solid var(--col-txt);
}










nav div{
    background-color: var(--col-header);
}
.tag-list{
    border-radius: 20px;
    width: 100%;
    height: 68%;
}
.tag-list h1{
    font-size: 1.4em;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
}
.tag-list h1{
    font-size: 1.4em;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
 }
 .tag-list ul{
     list-style: none;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .tag-list ul li{
     user-select: none;
     cursor: pointer;
     margin:2px 0px;
     padding: 5px 0px;
     text-align: center;
     width: 60%;
 }
 .tag-list ul li:hover{
    border-left: 1px solid var(--col-txt);
    border-right: 1px solid var(--col-txt);
}














.filtre{
    border-radius: 20px;
    width: 100%;
    height: 30%;
}
.filtre h1{
   font-size: 1.4em;
   text-decoration: underline;
   text-align: center;
   padding: 10px;
}
.filtre ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtre ul li{
    user-select: none;
    cursor: pointer;
    margin:2px 0px;
    padding: 5px 0px;
    text-align: center;
    width: 60%;
}
.filtre ul li:active,
.filtre ul li.active{
    border-left: 1px solid var(--col-txt);
    border-right: 1px solid var(--col-txt);
    box-shadow: 0px 0px 3px var(--col-txt);
}
.filtre ul li:hover{
    border-left: 1px solid var(--col-txt);
    border-right: 1px solid var(--col-txt);
}
.filtre2{
    transform-origin: top;
    transform: scaleY(0);
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}
.filtre2 h1{
    font-size: 1.2em;
}
.filtre2 h1,
.filtre2 ul,
.filtre2 ul li{
    display: inline-block;
}
.filtre2 ul li{
    padding: 10px;
    margin: 0px 1px;
    height: 100%;
    border: 1px solid var(--col-txt);
}

@media screen and (max-width:1220px) {
    .filtre{
        display: none;
    }
    .filtre2{
        transform: scaleY(1);
    }
    .tag-list{
        margin-top: 50px;
    }
}

@media screen and (max-width:1220px) {
    .filtre2 h1{
        display: none;
    }
    nav{
        display: none;
    }
    
    section{
        margin-top: 60px;
        width: 95vw;
    }
}





/*background et header*/
header{
    z-index: 999999;
    background-color: var(--col-header);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
}
.head-left{
    height: 100%;
    position: absolute;
    left: 0;
}
.head-right{
    position: absolute;
    right: 0;
    width: auto;
    height: 100%;
    display: flex;
}
.recherche{
    width: 200px;
    height: 80%;
    right: 0%;
}
.recherche input{
    font-weight: bolder;
    font-size: large;
    color: rgb(0, 204, 255);
    border: none;
    outline: none;
    background-color: var(--col-header);
    width: 85%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 204, 255);
}
.recherche button{
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    background-color: var(--col-header);
    width: 10%;
    height: 100%;
}
.recherche button img{
    width: 100%;
}
.pseudo{
    cursor: pointer;
    margin-top: 1%;
    margin-right: 5%;
    color: #fff;
    width: 200px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 1px solid rgb(197, 255, 245);
    border-right: 1px solid rgb(197, 255, 245);
}
.pseudo span{
    width: 55%;
    display: flex;
    justify-content: flex-start;
}
.pdp{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #000;
}
.pseudo ul{
    transition: all .3s;
    width: 38%;
    position: absolute;
    left: 0;
    list-style: none;
    top: 100%;
    transform-origin: top;
    transform: scaleY(0);
}
.pseudo ul li{
    transition: all .3s;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--col-header);
    border-bottom: 1px solid;
}
.pseudo ul li:hover{
    box-shadow: 0px 0px 2px white;
}

@media screen and (max-width:580px){
    .head-right{
        width: 60%;
    }
    .head-left{
        width: 20%;
    }
}



header a{
    display: block;
    width: 20%;
    height: 100%;
}




/*backgground*/
.body{
    z-index: 0;
    position: absolute;
    top: 0;left: 0;
    height: 100vh;
    width: 100vw;
}
.area{
    z-index: 1;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}
.circles{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
